<% if ingredient.errors.any? %>
	<% ingredient.errors.full_messages.each do |m| %>
		<h3><%= m %></h3>
	<% end %>
<% end %>
<%= form_for ingredient do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>